.search-bar input {
    background: #ffff;
    width: 320px;
    border-radius: 100px;
    padding: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.search-bar input::placeholder {
    color: #ccc;
}
.table-main {
   background: #fff;
    padding: 35px;
    border-radius: 8px;
}