@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
    border: 0;
}
.section {
    padding: 80px 0;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

a {
    text-decoration: unset !important;

}

.font-w-1 {
    font-weight: 100;
}

.font-w-2 {
    font-weight: 200;
}

.font-w-3 {
    font-weight: 300;
}

.font-w-4 {
    font-weight: 400;
}

.font-w-5 {
    font-weight: 500;
}

.font-w-6 {
    font-weight: 600;
}

.font-w-7 {
    font-weight: 700;
}

.font-w-8 {
    font-weight: 800;
}

.bg-sidebar {
    background-color: #FFFFFF;
}
.bg-button {
    background-color: #FA6D6F;
    color: white;
    font-weight: 600;
        padding: 0.70rem 1.5rem !important;
        border-radius: 5px;
        position: relative;
        box-shadow: 0;
        overflow: hidden;
        border: 0;
            border: 2px solid #272F9B;
            transition: 0.5s;
}
.bg {
    background-color: #F4F7FE;
}
.text-white {
    color: #A4AFCF !important;
}
.text-dark {
    color: #424D81;
}
.color-active {
color: #442EFB !important;
}
.color-active::after {
    content: "";
    position: absolute;
    right: 0;
    width: 3px;
    height: 32px;
    background-color: #442EFB;
    border-radius: 10px;
}
.icon-active{
    background-color: #22CC9A;
    color: white;
}
.icon-disabled {
    background-color: #EC5E55;
    color: white;
}
.btn-red {
    background: #EC5E55 !important;
    color: white;
}

/* container width */
@media (min-width: 1400px) {
    .container {
        max-width: 1180px;
    }
}


@media (max-width: 991.5px) {
    .section {
        padding: 60px 0;
    }

    p {
        font-size: 14px;
        font-weight: 400;
        line-height: 25px;
    }

    h1 {
        font-size: 34px;
    }


}

@media (max-width: 575.5px) {
    .section {
        padding: 40px 0;
    }

    p {
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
    }

    h1 {
        font-size: 28px;
    }

}